# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/latest/usage/project/#working-with-version-control
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
Project_hh/data/dst-3.0_16_1_hh_database.csv
Project_hh/data/ExchangeRates.csv
Project_hh_PostgreSQL/config.txt
Project_hh_PostgreSQL/config.yaml
Учеба/EDA/unit_7_check_up.ipynb
Учеба/EDA/config_med.yaml
Project_EDA + Feature Engineering_Booking/booking_data/hotels_test.csv
.gitignore
Project_EDA + Feature Engineering_Booking/booking_data/submission.csv
Project_EDA + Feature Engineering_Booking/data/hotels (1).csv
Project_EDA + Feature Engineering_Booking/booking_data/hotels_train.csv

Учеба/EDA/data/country_area.csv
Учеба/EDA/data/country_population.csv
Учеба/EDA/data/iris.csv
Учеба/EDA/data/KaggleV2-May-2016.csv
Учеба/EDA/data/model.csv
Учеба/EDA/data/wine_cleared_3.csv
Учеба/EDA/data/wine_cleared.csv
Учеба/EDA/data/wine.csv
Учеба/EDA/data-10.2/ds_salaries.csv
Учеба/ekzamen/new-site.csv
Учеба/ML-Обучение с учитилем Регрессия/data/50_Startups.csv
Учеба/ML-Обучение с учитилем Регрессия/data/housing.csv
Учеба/ML-Обучение с учитилем Регрессия/data/audi.csv
Учеба/ML-Обучение с учитилем Регрессия/data/insurance.csv
Учеба/ML-2. Обучение с учитилем-Регрессия/data/50_Startups.csv
Учеба/ML-3. Обучение с учителем-классификация/data/diabetes_cleaned.csv
Учеба/ML-3. Обучение с учителем-классификация/data/task_data.csv
Учеба/ML-2. Обучение с учитилем-Регрессия/data/audi.csv
Учеба/ML-2. Обучение с учитилем-Регрессия/data/housing.csv
Учеба/ML-2. Обучение с учитилем-Регрессия/data/insurance.csv
Учеба/ML-3. Обучение с учителем-классификация/data/adult.csv
Учеба/ML-3. Обучение с учителем-классификация/data/churn.csv
Учеба/ML-4. Обучение без учителя кластеризация и техники понижения размерности/data/pokemon.csv
Учеба/ML-4. Обучение без учителя кластеризация и техники понижения размерности/data/values_from_the_instrument.csv
Учеба/ML-4. Обучение без учителя кластеризация и техники понижения размерности/data/airbnb.csv
Учеба/ML-4. Обучение без учителя кластеризация и техники понижения размерности/data/housing.csv
Учеба/ML-4. Обучение без учителя кластеризация и техники понижения размерности/data/segmented_customers.csv
Учеба/ML-5. Валидация данных и оценка моделей/data/water_potability.csv
Учеба/ML-5. Валидация данных и оценка моделей/data/online_shoppers_intention.csv
Учеба/ML-6. Отбор и селекция признаков/data/data_ford_price.xlsx
Учеба/ML-6. Отбор и селекция признаков/data/test.csv
Учеба/ML-6. Отбор и селекция признаков/data/train.csv
Учеба/ML-7. Оптимизация гиперпараметров модели/data/adult.csv
Учеба/ML-7. Оптимизация гиперпараметров модели/data/_train_sem09 (1).csv
